In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import re
import nltk
nltk.download('stopwords')
nltk.download('punkt')
pd.set_option('display.max_columns',None)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
df=pd.read_csv('/content/IMDB_OMDB_Kaggle_TestSet_OMDB_Detailed.csv')

In [3]:
df.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings.Source,Ratings.Value,Metascore,imdbRating,imdbVotes,imdbID,Type,tomatoMeter,tomatoImage,tomatoRating,tomatoReviews,tomatoFresh,tomatoRotten,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,Avatar,2009,PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",A paraplegic marine dispatched to the moon Pan...,"English, Spanish","UK, USA",Won 3 Oscars. Another 86 wins & 128 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,7.8/10,83,7.8,"939,525",tt0499549,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/avatar/,22 Apr 2010,"$749,700,000",20th Century Fox,http://www.avatarmovie.com/,True
1,2,Pirates of the Caribbean: At World's End,2007,PG-13,25 May 2007,169 min,"Action, Adventure, Fantasy",Gore Verbinski,"Ted Elliott, Terry Rossio, Ted Elliott (charac...","Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...","Captain Barbossa, Will Turner and Elizabeth Sw...",English,USA,Nominated for 2 Oscars. Another 20 wins & 44 n...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,7.1/10,50,7.1,"506,076",tt0449088,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/pirates_of_the...,04 Dec 2007,"$309,404,152",Buena Vista,http://disney.go.com/disneypictures/pirates/at...,True
2,3,Spectre,2015,PG-13,06 Nov 2015,148 min,"Action, Adventure, Thriller",Sam Mendes,"John Logan (screenplay), Neal Purvis (screenpl...","Daniel Craig, Christoph Waltz, LÃ©a Seydoux, Ra...",A cryptic message from Bond's past sends him o...,"English, Spanish, Italian, German, French","UK, USA",Won 1 Oscar. Another 7 wins & 30 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,6.8/10,60,6.8,"311,366",tt2379713,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/spectre_2015/,09 Feb 2016,"$208,777,731",Sony Pictures,http://www.007.com/,True
3,4,The Dark Knight Rises,2012,PG-13,20 Jul 2012,164 min,"Action, Thriller",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Gary Oldman, Tom Hardy, Joseph...",Eight years after the Joker's reign of anarchy...,"English, Arabic","UK, USA",Nominated for 1 BAFTA Film Award. Another 38 w...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,8.5/10,78,8.5,"1,228,378",tt1345836,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knigh...,03 Dec 2012,"$448,130,642",Warner Bros. Pictures,http://www.thedarkknightrises.com/,True
4,5,The Lone Ranger,2013,PG-13,03 Jul 2013,150 min,"Action, Adventure, Western",Gore Verbinski,"Justin Haythe (screenplay), Ted Elliott (scree...","Johnny Depp, Armie Hammer, William Fichtner, T...",Native American warrior Tonto recounts the unt...,"English, North American Indian",USA,Nominated for 2 Oscars. Another 4 wins & 17 no...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,6.5/10,37,6.5,"191,532",tt1210819,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_lone_ranger/,17 Dec 2013,"$89,289,910",Walt Disney Pictures,http://disney.go.com/the-lone-ranger/,True

In [4]:
df.shape

(24, 38)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         24 non-null     int64
 1   Title              24 non-null     object
 2   Year               24 non-null     int64
 3   Rated              24 non-null     object
 4   Released           24 non-null     object
 5   Runtime            24 non-null     object
 6   Genre              24 non-null     object
 7   Director           24 non-null     object
 8   Writer             24 non-null     object
 9   Actors             24 non-null     object
 10  Plot               24 non-null     object
 11  Language           24 non-null     object
 12  Country            24 non-null     object
 13  Awards             24 non-null     object
 14  Poster             24 non-null     object
 15  Ratings.Source     24 non-null     object
 16  Ratings.Value      24 non-null     object
 17  Metascore          24 non-null     int64
 18  imdbRating         24 non-null     float64
 19  imdbVotes          24 non-null     object
 20  imdbID             24 non-null     object
 21  Type               24 non-null     object
 22  tomatoMeter        0 non-null      float64
 23  tomatoImage        0 non-null      float64
 24  tomatoRating       0 non-null      float64
 25  tomatoReviews      0 non-null      float64
 26  tomatoFresh        0 non-null      float64
 27  tomatoRotten       0 non-null      float64
 28  tomatoConsensus    0 non-null      float64
 29  tomatoUserMeter    0 non-null      float64
 30  tomatoUserRating   0 non-null      float64
 31  tomatoUserReviews  0 non-null      float64
 32  tomatoURL          24 non-null     object
 33  DVD                24 non-null     object
 34  BoxOffice          24 non-null     object
 35  Production         24 non-null     object
 36  Website            24 non-null     object
 37  Response           24 non-null     bool
dtypes: bool(1), float64(11), int64(3), object(23)
memory usage: 7.1+ KB

## Data Preprocessing

In [6]:
# convert lowercase and remove numbers, punctuations, spaces, etc.,
df['clean_plot']=df['Plot'].str.lower()
df['clean_plot']=df['clean_plot'].apply(lambda x: re.sub('[^a-zA-Z]', ' ',x)) # makes space apart from charaters
df['clean_plot']=df['clean_plot'].apply(lambda x: re.sub('\s+', ' ',x)) #more spaces are removed
df['clean_plot']

0     a paraplegic marine dispatched to the moon pan...
1     captain barbossa will turner and elizabeth swa...
2     a cryptic message from bond s past sends him o...
3     eight years after the joker s reign of anarchy...
4     native american warrior tonto recounts the unt...
5     transported to barsoom a civil war vet discove...
6     the magically long haired rapunzel has spent h...
7     a strange black entity from another world bond...
8     when tony stark and bruce banner try to jump s...
9     political interference in the avengers activit...
10    fearing that the actions of superman are left ...
11    a reluctant hobbit bilbo baggins sets out to t...
12    as harry potter begins his sixth year at hogwa...
13    the dwarves along with bilbo baggins and ganda...
14    bilbo and company are forced to engage in a wa...
15    jack sparrow and barbossa embark on a quest to...
16    superman reappears after a long absence but is...
17    james bond descends into mystery as he tries t...
18    earth s mightiest heroes must come together an...
19    jack sparrow races to recover the heart of dav...
20    clark kent one of the last of an extinguished ...
21    the pevensie siblings return to narnia where t...
22    after peter parker is bitten by a genetically ...
23    a new theme park built on the original site of...
Name: clean_plot, dtype: object

In [7]:
#tokenize the 

df['clean_plot'] = df['clean_plot'].apply(lambda x: nltk.word_tokenize(x))
df['clean_plot']

0     [a, paraplegic, marine, dispatched, to, the, m...
1     [captain, barbossa, will, turner, and, elizabe...
2     [a, cryptic, message, from, bond, s, past, sen...
3     [eight, years, after, the, joker, s, reign, of...
4     [native, american, warrior, tonto, recounts, t...
5     [transported, to, barsoom, a, civil, war, vet,...
6     [the, magically, long, haired, rapunzel, has, ...
7     [a, strange, black, entity, from, another, wor...
8     [when, tony, stark, and, bruce, banner, try, t...
9     [political, interference, in, the, avengers, a...
10    [fearing, that, the, actions, of, superman, ar...
11    [a, reluctant, hobbit, bilbo, baggins, sets, o...
12    [as, harry, potter, begins, his, sixth, year, ...
13    [the, dwarves, along, with, bilbo, baggins, an...
14    [bilbo, and, company, are, forced, to, engage,...
15    [jack, sparrow, and, barbossa, embark, on, a, ...
16    [superman, reappears, after, a, long, absence,...
17    [james, bond, descends, into, mystery, as, he,...
18    [earth, s, mightiest, heroes, must, come, toge...
19    [jack, sparrow, races, to, recover, the, heart...
20    [clark, kent, one, of, the, last, of, an, exti...
21    [the, pevensie, siblings, return, to, narnia, ...
22    [after, peter, parker, is, bitten, by, a, gene...
23    [a, new, theme, park, built, on, the, original...
Name: clean_plot, dtype: object

In [8]:
# remove stopwords
stop_words = nltk.corpus.stopwords.words('english')
stop_words
plot=[]
for sentences in df['clean_plot']:
  temp=[]
  for words in sentences:
    if words not in stop_words and len(words)>=3:
      temp.append(words)
  plot.append(temp)

In [9]:
df['clean_plot']=plot

In [10]:
df['clean_plot']

0     [paraplegic, marine, dispatched, moon, pandora...
1     [captain, barbossa, turner, elizabeth, swann, ...
2     [cryptic, message, bond, past, sends, trail, u...
3     [eight, years, joker, reign, anarchy, dark, kn...
4     [native, american, warrior, tonto, recounts, u...
5     [transported, barsoom, civil, war, vet, discov...
6     [magically, long, haired, rapunzel, spent, ent...
7     [strange, black, entity, another, world, bonds...
8     [tony, stark, bruce, banner, try, jump, start,...
9     [political, interference, avengers, activities...
10    [fearing, actions, superman, left, unchecked, ...
11    [reluctant, hobbit, bilbo, baggins, sets, lone...
12    [harry, potter, begins, sixth, year, hogwarts,...
13    [dwarves, along, bilbo, baggins, gandalf, grey...
14    [bilbo, company, forced, engage, war, array, c...
15    [jack, sparrow, barbossa, embark, quest, find,...
16    [superman, reappears, long, absence, challenge...
17    [james, bond, descends, mystery, tries, stop, ...
18    [earth, mightiest, heroes, must, come, togethe...
19    [jack, sparrow, races, recover, heart, davy, j...
20    [clark, kent, one, last, extinguished, race, d...
21    [pevensie, siblings, return, narnia, enlisted,...
22    [peter, parker, bitten, genetically, altered, ...
23    [new, theme, park, built, original, site, jura...
Name: clean_plot, dtype: object

In [11]:
df['Genre']=df['Genre'].apply(lambda x : x.split(','))

In [12]:
df['Genre']

0       [Action,  Adventure,  Fantasy]
1       [Action,  Adventure,  Fantasy]
2      [Action,  Adventure,  Thriller]
3                  [Action,  Thriller]
4       [Action,  Adventure,  Western]
5        [Action,  Adventure,  Sci-Fi]
6     [Animation,  Adventure,  Comedy]
7                 [Action,  Adventure]
8        [Action,  Adventure,  Sci-Fi]
9        [Action,  Adventure,  Sci-Fi]
10       [Action,  Adventure,  Sci-Fi]
11               [Adventure,  Fantasy]
12      [Adventure,  Family,  Fantasy]
13               [Adventure,  Fantasy]
14               [Adventure,  Fantasy]
15      [Action,  Adventure,  Fantasy]
16       [Action,  Adventure,  Sci-Fi]
17     [Action,  Adventure,  Thriller]
18                   [Action,  Sci-Fi]
19      [Action,  Adventure,  Fantasy]
20      [Action,  Adventure,  Fantasy]
21       [Action,  Adventure,  Family]
22                [Action,  Adventure]
23       [Action,  Adventure,  Sci-Fi]
Name: Genre, dtype: object

In [13]:
df['Actors']=df['Actors'].apply(lambda x : x.split(',')[:4])

In [14]:
df['Actors']

0     [Sam Worthington,  Zoe Saldana,  Sigourney Wea...
1     [Johnny Depp,  Geoffrey Rush,  Orlando Bloom, ...
2     [Daniel Craig,  Christoph Waltz,  LÃ©a Seydoux,...
3     [Christian Bale,  Gary Oldman,  Tom Hardy,  Jo...
4     [Johnny Depp,  Armie Hammer,  William Fichtner...
5     [Taylor Kitsch,  Lynn Collins,  Samantha Morto...
6     [Mandy Moore,  Zachary Levi,  Donna Murphy,  R...
7     [Tobey Maguire,  Kirsten Dunst,  James Franco,...
8     [Robert Downey Jr.,  Chris Hemsworth,  Mark Ru...
9     [Chris Evans,  Robert Downey Jr.,  Scarlett Jo...
10    [Ben Affleck,  Henry Cavill,  Amy Adams,  Jess...
11    [Ian McKellen,  Martin Freeman,  Richard Armit...
12    [Daniel Radcliffe,  Michael Gambon,  Dave Lege...
13    [Ian McKellen,  Martin Freeman,  Richard Armit...
14    [Ian McKellen,  Martin Freeman,  Richard Armit...
15    [Johnny Depp,  PenÃ©lope Cruz,  Geoffrey Rush, ...
16    [Brandon Routh,  Kate Bosworth,  Kevin Spacey,...
17    [Daniel Craig,  Olga Kurylenko,  Mathieu Amalr...
18    [Robert Downey Jr.,  Chris Evans,  Mark Ruffal...
19    [Johnny Depp,  Orlando Bloom,  Keira Knightley...
20    [Henry Cavill,  Amy Adams,  Michael Shannon,  ...
21    [Ben Barnes,  Georgie Henley,  Skandar Keynes,...
22    [Andrew Garfield,  Emma Stone,  Rhys Ifans,  D...
23    [Chris Pratt,  Bryce Dallas Howard,  Irrfan Kh...
Name: Actors, dtype: object

In [15]:
df['Director']=df['Director'].apply(lambda x : x.split(','))

In [16]:
df['Director']

0                   [James Cameron]
1                  [Gore Verbinski]
2                      [Sam Mendes]
3               [Christopher Nolan]
4                  [Gore Verbinski]
5                  [Andrew Stanton]
6     [Nathan Greno,  Byron Howard]
7                       [Sam Raimi]
8                     [Joss Whedon]
9       [Anthony Russo,  Joe Russo]
10                    [Zack Snyder]
11                  [Peter Jackson]
12                    [David Yates]
13                  [Peter Jackson]
14                  [Peter Jackson]
15                   [Rob Marshall]
16                   [Bryan Singer]
17                   [Marc Forster]
18                    [Joss Whedon]
19                 [Gore Verbinski]
20                    [Zack Snyder]
21                 [Andrew Adamson]
22                      [Marc Webb]
23                [Colin Trevorrow]
Name: Director, dtype: object

In [17]:
def clean(sentence):
  temp=[]
  for word in sentence :
    temp.append(word.lower().replace(' ',''))
    return temp

In [18]:
df['Genre']=[clean(x) for x in df['Genre']]
df['Actors']=[clean(x)for x in df['Actors']]
df['Director']=[clean(x) for x in df['Director']]

In [19]:
df['Actors'][1]

['johnnydepp']

In [20]:
# combining all the columns data
columns = ['clean_plot', 'Genre', 'Actors', 'Director']
l = []
for i in range(len(df)):
    words = ''
    for col in columns:
        words += ' '.join(df[col][i]) + ' '
    l.append(words)
l

['paraplegic marine dispatched moon pandora unique mission becomes torn following orders protecting world feels home action samworthington jamescameron ',
 'captain barbossa turner elizabeth swann must sail edge map navigate treachery betrayal find jack sparrow make final alliances one last decisive battle action johnnydepp goreverbinski ',
 'cryptic message bond past sends trail uncover sinister organization battles political forces keep secret service alive bond peels back layers deceit reveal terrible truth behind spectre action danielcraig sammendes ',
 'eight years joker reign anarchy dark knight help enigmatic selina forced imposed exile save gotham city edge total annihilation brutal guerrilla terrorist bane action christianbale christophernolan ',
 'native american warrior tonto recounts untold tales transformed john reid man law legend justice action johnnydepp goreverbinski ',
 'transported barsoom civil war vet discovers barren planet seemingly inhabited foot tall barbarians finding prisoner creatures escapes encounter woola princess desperate need savior action taylorkitsch andrewstanton ',
 'magically long haired rapunzel spent entire life tower runaway thief stumbled upon discover world first time really animation mandymoore nathangreno ',
 'strange black entity another world bonds peter parker causes inner turmoil contends new villains temptations revenge action tobeymaguire samraimi ',
 'tony stark bruce banner try jump start dormant peacekeeping program called ultron things horribly wrong earth mightiest heroes stop villainous ultron enacting terrible plan action robertdowneyjr. josswhedon ',
 'political interference avengers activities causes rift former allies captain america iron man action chrisevans anthonyrusso ',
 'fearing actions superman left unchecked batman takes man steel world wrestles kind hero really needs action benaffleck zacksnyder ',
 'reluctant hobbit bilbo baggins sets lonely mountain spirited group dwarves reclaim mountain home gold within dragon smaug adventure ianmckellen peterjackson ',
 'harry potter begins sixth year hogwarts discovers old book marked property half blood prince begins learn lord voldemort dark past adventure danielradcliffe davidyates ',
 'dwarves along bilbo baggins gandalf grey continue quest reclaim erebor homeland smaug bilbo baggins possession mysterious magical ring adventure ianmckellen peterjackson ',
 'bilbo company forced engage war array combatants keep lonely mountain falling hands rising darkness adventure ianmckellen peterjackson ',
 'jack sparrow barbossa embark quest find elusive fountain youth discover blackbeard daughter action johnnydepp robmarshall ',
 'superman reappears long absence challenged old foe uses kryptonian technology world domination action brandonrouth bryansinger ',
 'james bond descends mystery tries stop mysterious organization eliminating country valuable resource still tries seek revenge death love action danielcraig marcforster ',
 'earth mightiest heroes must come together learn fight team stop mischievous loki alien army enslaving humanity action robertdowneyjr. josswhedon ',
 'jack sparrow races recover heart davy jones avoid enslaving soul jones service friends foes seek heart agenda well action johnnydepp goreverbinski ',
 'clark kent one last extinguished race disguised unremarkable human forced reveal identity earth invaded army survivors threaten bring planet brink destruction action henrycavill zacksnyder ',
 'pevensie siblings return narnia enlisted help ward evil king restore rightful heir land throne prince caspian action benbarnes andrewadamson ',
 'peter parker bitten genetically altered spider gains newfound spider like powers ventures solve mystery parent mysterious death action andrewgarfield marcwebb ',
 'new theme park built original site jurassic park creates genetically modified hybrid dinosaur escapes containment goes killing spree action chrispratt colintrevorrow ']

In [21]:
df['clean_input']=l
df=df[['Title','clean_input']]

In [22]:
df.head()

,Title,clean_input
0,Avatar,paraplegic marine dispatched moon pandora uniq...
1,Pirates of the Caribbean: At World's End,captain barbossa turner elizabeth swann must s...
2,Spectre,cryptic message bond past sends trail uncover ...
3,The Dark Knight Rises,eight years joker reign anarchy dark knight he...
4,The Lone Ranger,native american warrior tonto recounts untold ...

## Feature Extraction

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
tfidf = TfidfVectorizer()
features = tfidf.fit_transform(df['clean_input'])

In [24]:
# create cosine similarity matrix
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(features, features)
print(cosine_sim)

[[1.         0.00647628 0.00566914 0.006056   0.00768921 0.00603877
  0.02699039 0.03613825 0.00579602 0.00821186 0.03719042 0.04522117
  0.         0.         0.         0.00855236 0.04081432 0.00666768
  0.00751107 0.0063471  0.00647267 0.00707146 0.00670347 0.00641826]
 [0.00647628 1.         0.00499612 0.04006899 0.07395984 0.00532187
  0.         0.00645017 0.00510794 0.05433308 0.00663796 0.
  0.         0.         0.         0.22078137 0.00728478 0.00587611
  0.04969632 0.12104769 0.07994745 0.00623196 0.00590766 0.00565631]
 [0.00566914 0.00499612 1.         0.00467189 0.00593183 0.0046586
  0.         0.00564628 0.03356943 0.04756152 0.00581067 0.
  0.03096592 0.         0.039534   0.00659771 0.00637687 0.13904028
  0.0057944  0.03676117 0.03748845 0.00545527 0.00517139 0.00495136]
 [0.006056   0.04006899 0.00467189 1.         0.00633662 0.0049765
  0.         0.00603158 0.00477645 0.00676733 0.00620719 0.
  0.03307901 0.         0.03480339 0.00704793 0.00681203 0.00549478
  0.00618981 0.00523059 0.03394085 0.04375137 0.00552428 0.00528924]
 [0.00768921 0.07395984 0.00593183 0.00633662 1.         0.00631859
  0.         0.00765821 0.00606459 0.05467352 0.05014813 0.
  0.         0.         0.         0.049677   0.00864913 0.00697664
  0.00785911 0.07248454 0.00677259 0.00739913 0.00701409 0.00671567]
 [0.00603877 0.00532187 0.0046586  0.0049765  0.00631859 1.
  0.         0.00601442 0.00476287 0.00674808 0.00618953 0.
  0.03298493 0.         0.04211166 0.00702788 0.00679265 0.00547915
  0.0061722  0.00521571 0.03993273 0.00581096 0.00550857 0.03959707]
 [0.02699039 0.         0.         0.         0.         0.
  1.         0.02688155 0.         0.         0.07338561 0.
  0.         0.         0.         0.05191421 0.08053644 0.
  0.         0.         0.         0.         0.         0.        ]
 [0.03613825 0.00645017 0.00564628 0.00603158 0.00765821 0.00601442
  0.02688155 1.         0.00577265 0.06140361 0.03704045 0.
  0.         0.         0.         0.00851787 0.04064974 0.04985708
  0.00748078 0.0063215  0.00644657 0.00704294 0.09357305 0.04799209]
 [0.00579602 0.00510794 0.03356943 0.00477645 0.00606459 0.00476287
  0.         0.00577265 1.         0.00647681 0.00594072 0.
  0.         0.         0.         0.00674537 0.00651959 0.03346247
  0.22367486 0.00500605 0.0324838  0.00557736 0.00528713 0.00506217]
 [0.00821186 0.05433308 0.04756152 0.00676733 0.05467352 0.00674808
  0.         0.06140361 0.00647681 1.         0.05355679 0.
  0.         0.         0.         0.00955691 0.00923703 0.00745085
  0.00839331 0.00709262 0.00723294 0.00790206 0.00749085 0.00717214]
 [0.03719042 0.00663796 0.00581067 0.00620719 0.05014813 0.00618953
  0.07338561 0.03704045 0.00594072 0.05355679 1.         0.
  0.         0.         0.         0.00876587 0.09696956 0.00683414
  0.00769858 0.00650556 0.04980806 0.007248   0.00687083 0.0065785 ]
 [0.04522117 0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         1.
  0.02654558 0.3651048  0.29906931 0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.03096592 0.03307901 0.         0.03298493
  0.         0.         0.         0.         0.         0.02654558
  1.         0.02519559 0.03008252 0.         0.04515102 0.
  0.04102687 0.         0.         0.03862565 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.3651048
  0.02519559 1.         0.18378209 0.04995165 0.         0.03209377
  0.         0.         0.         0.         0.03226607 0.        ]
 [0.         0.         0.039534   0.03480339 0.         0.04211166
  0.         0.         0.         0.         0.         0.29906931
  0.03008252 0.18378209 1.         0.         0.         0.
  0.         0.         0.03719797 0.         0.         0.        ]
 [0.00855236 0.22078137 0.00659771 0.00704793 0.049677   0.00702788
  0.05191421 0.00851787 0.00674537 0.00955691 0.00876587 0.
  0.         0.04995165 0.         1.         0.00962003 0.0077598
  0.00874133 0.12023637 0.00753285 0.00822972 0.00780146 0.00746953]
 [0.04081432 0.00728478 0.00637687 0.00681203 0.00864913 0.00679265
  0.08053644 0.04064974 0.00651959 0.00923703 0.09696956 0.
  0.04515102 0.         0.         0.00962003 1.         0.00750007
  0.00844875 0.00713947 0.00728071 0.00795426 0.00754033 0.00721952]
 [0.00666768 0.00587611 0.13904028 0.00549478 0.00697664 0.00547915
  0.         0.04985708 0.03346247 0.00745085 0.00683414 0.
  0.         0.03209377 0.         0.0077598  0.00750007 1.
  0.04336404 0.04323612 0.00587283 0.00641613 0.11786447 0.00582347]
 [0.00751107 0.04969632 0.0057944  0.00618981 0.00785911 0.0061722
  0.         0.00748078 0.22367486 0.00839331 0.00769858 0.
  0.04102687 0.         0.         0.00874133 0.00844875 0.04336404
  1.         0.04870502 0.08514868 0.00722771 0.00685159 0.00656008]
 [0.0063471  0.12104769 0.03676117 0.00523059 0.07248454 0.00521571
  0.         0.0063215  0.00500605 0.00709262 0.00650556 0.
  0.         0.         0.         0.12023637 0.00713947 0.04323612
  0.04870502 1.         0.00559047 0.00610765 0.00578982 0.00554348]
 [0.00647267 0.07994745 0.03748845 0.03394085 0.00677259 0.03993273
  0.         0.00644657 0.0324838  0.00723294 0.04980806 0.
  0.         0.         0.03719797 0.00753285 0.00728071 0.00587283
  0.08514868 0.00559047 1.         0.00622848 0.00590436 0.00565315]
 [0.00707146 0.00623196 0.00545527 0.04375137 0.00739913 0.00581096
  0.         0.00704294 0.00557736 0.00790206 0.007248   0.
  0.03862565 0.         0.         0.00822972 0.00795426 0.00641613
  0.00722771 0.00610765 0.00622848 1.         0.00645058 0.00617613]
 [0.00670347 0.00590766 0.00517139 0.00552428 0.00701409 0.00550857
  0.         0.09357305 0.00528713 0.00749085 0.00687083 0.
  0.         0.03226607 0.         0.00780146 0.00754033 0.11786447
  0.00685159 0.00578982 0.00590436 0.00645058 1.         0.0439556 ]
 [0.00641826 0.00565631 0.00495136 0.00528924 0.00671567 0.03959707
  0.         0.04799209 0.00506217 0.00717214 0.0065785  0.
  0.         0.         0.         0.00746953 0.00721952 0.00582347
  0.00656008 0.00554348 0.00565315 0.00617613 0.0439556  1.        ]]

## Movie Recommendation

In [25]:
index = pd.Series(df['Title'])
index.head()

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                             The Lone Ranger
Name: Title, dtype: object

In [26]:
def recommend_movies(title):
    movies = []
    idx = index[index == title].index[0]
    # print(idx)
    score = pd.Series(cosine_sim[idx]).sort_values(ascending=False)
    top10 = list(score.iloc[1:11].index)
    # print(top10)
    
    for i in top10:
        movies.append(df['Title'][i])
    return movies

In [27]:
recommend_movies('The Dark Knight Rises')

['The Chronicles of Narnia: Prince Caspian',
 "Pirates of the Caribbean: At World's End",
 'The Hobbit: The Battle of the Five Armies',
 'Man of Steel',
 'Harry Potter and the Half-Blood Prince',
 'Pirates of the Caribbean: On Stranger Tides',
 'Superman Returns',
 'Captain America: Civil War',
 'The Lone Ranger',
 'Batman v Superman: Dawn of Justice']